---
interface Props {
  currentPath?: string;
}
const { currentPath = '' } = Astro.props;
---
<header class="site-header">
  <div class="container header-top">
    <a href="/" class="logo-box">
      <img src="/images/logo-mark.svg" alt="ОстеоКлиник" class="logo-icon" width="72" height="72" />
      <div class="logo-text">
        <span class="logo-title">.Остео Клиник.</span>
        <span class="logo-subtitle">медицинский центр в Бресте</span>
      </div>
    </a>
    <div class="header-right">
      <a href="tel:+375 33 647-20-14" class="header-phone">+375&nbsp;29&nbsp;805&#8209;02&#8209;02</a>
      <a href="/booking" class="btn-primary">Записаться</a>
      <button class="menu-toggle" type="button" aria-label="Меню"></button>
    </div>
  </div>
  <nav class="container header-nav">
    <div class="nav-links">
      <a href="/services/neurology" class="nav-service">Неврология</a>
      <a href="/services/ultrasound" class="nav-service">УЗИ</a>
      <a href="/services/surgery" class="nav-service">Хирургия</a>
      <a href="/services/cardiology" class="nav-service">Кардиология</a>
      <a href="/services/phlebology" class="nav-service">Флебология</a>
      <span class="nav-sep"></span>
      <a href="/doctors">Врачи</a>
      <a href="/prices">Цены</a>
      <a href="/blog">Блог</a>
      <a href="/contacts">Контакты</a>
    </div>
  </nav>
</header>
